
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
                 Helvetica, Arial, sans-serif;
    color: #e0e0e0;
    
    background: radial-gradient(ellipse at top center, 
                                 rgb(22, 145, 206) 0%, 
                                 #000 70%);
    background-attachment: fixed;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color: rgba(26, 30, 43, 0.8);
    backdrop-filter: blur(10px); 
    
    border: 1px solid #333;
    border-radius: 8px;
    padding: 40px;
    width: 100%;
    max-width: 450px; 
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; 
}

.login-header {
    margin-bottom: 30px;
}

.login-header h2 {
    color: #ffffff;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.login-header p {
    color: #b0b0b0;
    font-size: 16px;
}


.logo-bar {
    fill: #007aff;
}

.form-control {
    margin-bottom: 15px;
    text-align: left;
}

.form-control label {
    display: block;
    color: #b0b0b0;
    margin-bottom: 5px;
}

.form-control input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #555;
    background-color: #111;
    color: #ffffff;
    font-size: 16px;
}

.btn {
    background-color: rgb(22, 145, 206);
    color: #ffffff;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;

    display: block; 
    box-sizing: border-box; 
    text-align: center;
    
    width: 100%;
    border: none; 
    cursor: pointer; 
}

.btn:hover {
    background-color: rgb(15, 103, 147);
}

.login-footer {
    margin-top: 30px;
    font-size: 14px;
}

.login-footer p {
    color: #888;
    margin-bottom: 10px;
}

.login-footer a {
    color: #007aff; 
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}

#email,#password{
    border: none;
    border-radius: 10px;
    background-color: #041527;
}